.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-image {
    width: 80px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    margin-right: 10px;
}

.product-info {
    flex-grow: 1;
    width: 200px; /* Establece el mismo ancho para todas las descripciones */
}

.cart-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-row td {
    padding: 10px;
}

.quantity-input {
    width: 50px;
    text-align: center;
}
